@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Sans+JP');

* {
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 62.5%;
}
body {
    height: 100%;
    font-size: 1.2rem;
    font-family: 'Montserrat', 'Noto Sans JP', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #50566f;
    line-height: 1.5;
}
img.emoji {
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
.sp {
    display: none
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
    clear: both;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    color: inherit;
}
header h1 {
    line-height: 1.5;
}
.floatl {
    float: left;
    width: 48%
}
.floatr {
    float: right;
    width: 48%
}
section {
    padding: 200px 0 200px 200px;
}
section h2 {
    margin-bottom: 50px;
}
ul li {
    display: inline;
}
header.pc {
    opacity: 0
}
header {
  text-align: center;
}

header .avatar{
    margin: 0 auto;
    border: 6px solid #fff;
    border-radius: 100px;
    background: #fff;
    display: inline-block;
}

.container,
header .head-main{
    width: 540px;
    margin: 0 auto;
    position: relative;
}

header .head-main{
margin-top:-40px;
}
header .name,
header .mail
{display: block;}

header #cover{
  min-height: 200px;
  background: linear-gradient(-45deg, #ffc3a0, #ffafbd);
  width: 100%;
}

#sec01{margin:60px 0;}

#sec02{margin:60px 0;}
#sec02 a{font-weight: bold;
display: block;
font-size: 1.5rem;}

#sec03 h2{
font-size: 1.5rem;}
#sec03 ul li{
    display: inline-block;
    width: 30%;
    margin: 2% 4% 2% 0;
}
#sec03 ul li:nth-child(3),
#sec03 ul li:nth-child(6){
margin-right: 0;
}


#sec03 ul li .book{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 140% 0 0;}
#sec03 ul li .book .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #b4d2f3;}


footer {
  text-align: center;
  font-size: 70%;
  margin:30px 0;
}
.footer-inner {
    width: 1000px;
    margin: 100px auto;
}
header .floatr, footer .floatr {
    text-align: right;
}
footer .floatr li {
    border-right: 1px solid;
    padding-right: 15px;
    margin-right: 10px;
}
footer .floatr li:last-child {
    border-right: 0;
    padding-right: 0;
    margin-right: 0
}
footer .floatr {
    margin-top: 75px;
}
footer h2 {
    margin: 20px 0;
}
footer adress {
    font-size: 90%;
}
footer .copyright {
    font-size: 50%;
    margin-top: 50px;
}
.sp {
    display: none
}
.pc {
    display: block
}
.br-sp {
    display: none;
}
.page-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1;
}
.totop {
    position: relative;
}
.page-top a {
    width: 64px;
    height: 64px;
    display: block;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80)";
    background: #800000;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.totop a {
    width: 64px;
    height: 64px;
    display: block;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=80);
    -ms-filter: "alpha( opacity=80)";
    background: #800000;
    border-radius: 50px;
    margin: 30px auto;
}
.page-top a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha( opacity=70)";
}
.page-top a::after {
    position: absolute;
    content: '';
    display: block;
    top: 47%;
    right: 25px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.totop a::after {
    position: relative;
    content: '';
    display: block;
    top: 46%;
    right: -24px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

/**********スマホ**********/
@media screen and (max-width: 549px) {

  .container,
  header .head-main{
    width: 90%;
    margin: 0 auto;
  }

  header #cover{
    min-height: 100px;
  }

  header .head-main{
    margin-top:-40px;
  }
  #sec03 ul li{
      display: inline-block;
      background: #b4d2f3;
      border-radius: 10px;
      width: 47%;
      margin: 2% 4% 2% 0;
  }
  #sec03 ul li:nth-child(3){
  margin: 2% 4% 2% 0;
  }
  #sec03 ul li:nth-child(2),
  #sec03 ul li:nth-child(4),
  #sec03 ul li:nth-child(6){
  margin-right: 0;
  }

}

/**********タブレット**********/
@media screen and (min-width:350px) and ( max-width:550px) {
#sec03 ul li{
    display: inline-block;
    background: #b4d2f3;
    border-radius: 10px;
    width: 30%;
    margin: 2% 4% 2% 0;
}
#sec03 ul li:nth-child(2),
#sec03 ul li:nth-child(4){
margin: 2% 4% 2% 0;
}
#sec03 ul li:nth-child(3),
#sec03 ul li:nth-child(6){
margin-right: 0;
}
}
