@charset "UTF-8";

*{padding: 0;
    margin: 0;
    box-sizing: border-box;}

html {
    font-size: 62.5%;
    box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }

body {
    background: #fff;
    font-size: 1.3rem;
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
    color: #1D212A;
    line-height: 1.6;
    font-feature-settings: "palt" 1;
    letter-spacing:0.04rem;
    font-weight: 500;
}
.sp {
    display: none
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 900;
    line-height: 1.5;
    color: inherit;
}
header h1 {
    line-height: 1.5;
}

strong {
    font-weight: 900;
}

a{color:#688ff0;
text-decoration:none;}

a.btn{background-color:#688ff0;
border-radius:5px;
color:#fff;
min-width: 200px;
    display: inline-block;
    text-align: center;}

p {
    margin: 20px 0;
}

#wrapper{
text-align:center;}

/**********スマホ**********/
@media screen and (max-width: 549px) {

  .container,
  header .head-main{
    width: 90%;
    margin: 0 auto;
  }
}

/**********タブレット**********/
@media screen and (min-width:350px) and ( max-width:550px) {
}
