@charset "UTF-8";

*{padding: 0;
    margin: 0;
    box-sizing: border-box;}

html {
    font-size: 62.5%;
    box-sizing: border-box; } *, *:before, *:after { box-sizing: inherit; }

body {
    background: #fff;
    font-size: 1.3rem;
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
    color: #1D212A;
    line-height: 1.6;
    font-feature-settings: "palt" 1;
    letter-spacing:0.04rem;
    font-weight: 500;
}

img.emoji {
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
.sp {
    display: none
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-header:after, .modal-footer:after {
    clear: both;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    color: inherit;
}
header h1 {
    line-height: 1.5;
}

a{color:#688ff0;}

a.btn{background-color:#688ff0;
border-radius:5px;
color:#fff;
padding:10px 15px;}

/**********スマホ**********/
@media screen and (max-width: 549px) {

  .container,
  header .head-main{
    width: 90%;
    margin: 0 auto;
  }
}

/**********タブレット**********/
@media screen and (min-width:350px) and ( max-width:550px) {
}
